<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: rgba(255, 255, 255, 0.21);">
  <div class="container-fluid">
    <a class="navbar-brand " href="/">CoderGrind</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <div class="nav-link"><%= link_to "Account", account_path %></div>
          </li>
          <li class="nav-item">
            <div class="nav-link"><%= button_to "Log Out", session_path, method: :delete %></div>
          </li>
        <% else %>
          <li class="nav-item">
            <div class="nav-link"><%= link_to "Sign Up", new_registration_path %></div>
          </li>
        <% end %>
      </ul>
  </div>
</nav>
<div><%= alert %></div>
  