<div class="main-container">
    <div class="main-text">
        <h1>About</h1>
        <p>CoderGrind is an open source web app with the intended use of keeping track of programming habits. Sessions are logged with information
        related to the session and the user is awarded experience points based on the factors added in the logged session</p>

        <p>Experience points are rewarded based on the length of the session at 250 points an hour. Bonus points are awarded for logging lines of code written, 
        characters written and/or commits created.</p>

        <p>Each user has a daily streak counter that increases by each consecutive day logged to promote daily learning habits and user engagement.</p>
        
    </div>
</div>
